.checkoutProduct{
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-bottom: 2px solid lightcoral;
}
.checkoutProduct > img{
    object-fit: cover;
    width: 310px;
    height: 300px;
    border-radius: 20px;
}
.checkoutProductInfo{
    padding-left: 20px;
}
.checkoutProductInfo > button{
    background-color: lightsalmon;
    border-color: darksalmon salmon lightsalmon;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 5px;
}
.checkoutProductInfo > button:hover{
    box-shadow: 0 0 3px 2px lightsalmon;
}
.checkoutProductPrice{
    margin-top: 5px;
}
.checkoutProductRating{
    display: flex;
    margin-bottom: 7px;
}
.title{
    color: salmon;
    font-weight: 900;
}
.rating{
    font-style: italic;
    margin-right: 5px;
}
